<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% block head %}
    <title>Wendell Barcelos</title>
{% endblock %}
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="menu">
            <a href="/">Sobre</a>
            <a href="/videos">Videos</a>
    </header>
    
    {% block content %}
    
    {% endblock %}

</body>
</html>