{% extends "layout.njk" %}

{% block head%}
    <title>Videos - Wendell Barcelos</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Videos</h1>
    </div>

    <section class="cards">

        {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="card-image-container {{ 'featured-wrapper' if item.featured }}">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
                <div class="card-content">
                    <p>{{item.title}}
                    </p>
                </div>
                <div class="card-info">
                    <p>{{item.duration}}</p>
                    <p class="card-price">{{item.price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>


    <div class="social">
        <a href="https://github.com/wendellbarcelos" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/wendell-barcelos/" target="_blank">Linkedin</a>
        <a href="mailto:wendellbarcelos.wb@gmail.com" target="_blank">Gmail</a>
    </div>

    <script src="/scripts.js"></script>

{% endblock %}